@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fira Sans;
}
html body {
  width: 100vw;
  height: 100vh;
  background: rgb(245, 245, 245);
}
/* common class */

.hover:hover {
  background-color: #006d50;
  color: white;
}
.money-hover:hover{
  background-color:rgba(22,132,181,255);
}
.btn-hover:hover{
  background-color:rgba(22,132,181,255);
}
/* Header section */
header{
  width: 1600px;
  height: 100px;
  text-align: left;
  padding: 24px 130px;
}

header nav{
  width: 1280px;
  height: 100px;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}
.logo {
  width: 222px;
  height: 38px;
  color: rgb(14, 14, 14);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
.signIn-btn {
  width: 116px;
  height: 52px;
  padding: 15px 20px;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

/* Hero Section */

.hero-section {
  width: 1280px;
  height: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  gap: 64;
  padding: 80px 100px;
  margin: 0 auto;
  background: rgb(198, 228, 214);
}
.text-side {
  width: 622px;
  height: 326px;
}
.text-side p {
  color: rgba(14, 14, 14, 0.5);

  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
}
.text-side h1 {
  color: rgb(14, 14, 14);

  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 24px;
}
.text-side button {
  width: 270px;
  height: 56px;
  border-radius: 8px;
  border: none;
  color: rgb(255, 255, 255);

  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;

  background: rgb(0, 106, 80);
}
.hero-section img {
  width: 474px;
  height: 400px;
}

/* Pillars section */
.pillers {
  width: 1280px;
  height: 375px;
  margin: 0 auto;
}
.pillers h2 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin: 80px 0px;
}
.boxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.box {
  width: 302px;
  height: 244px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  gap: 12;
  padding: 24px 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.box h3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.box p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* vision */
.vision {
  width: 1280px;
  height: 765px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 24;
  margin-top: 80px;
  margin-bottom: 80px;
}
.vision h3 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.vision > p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.vision h4 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.vision-boxes {
  width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.vision-box {
  width: 410px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  gap: 24;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 16px;

  background: rgba(84, 144, 245, 0.2);
}
.vision-box > p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.vision-box >button {
  width: 122px;
  height: 41px;
  border-radius: 8px;
  padding: 6px 10px;
  background: rgb(9, 161, 92);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  border: none;
  
}
.vision-box > button:hover{
  background-color: aquamarine;
  cursor: pointer;
}

/* qoute */

.quote {
  width: 1280px;
  height: 240px;
  padding: 48px 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  position: relative;
}
.quotaion {
  position: absolute;
  top: 30px;
  left: 24px;
}
.quote > p {
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.quote h3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 24px;
}

.quote .position {
  color: rgba(14, 14, 14, 0.6);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

/* Opinion section */

.opinion {
  width: 1280px;
  height: 481px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.opinion > h3 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 24px;
}
.opinion > div {
  width: 100%;
  height: 409px;
  border-radius: 16px;
  padding: 32px;
  background-color: rgb(255, 255, 255);
}

.opinion table {
  width: 100%;
  height: 100%;
}

.table-style {
  border-collapse: collapse;
}
.table-style thead tr {
  width: 100%;
  background-color: rgb(198, 228, 214);
  color: #000000;
}

.table-style tbody td,
th {
  padding: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgba(255, 255, 255, 0.1);
}
.table-style thead tr {
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.table-style thead th {
  border: none;
}
.table-style tbody tr td {
  color: rgb(14, 14, 14);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.select {
  width: 152px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(14, 14, 14);
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  background: rgb(198, 228, 214);
  padding: 10px 12px;
  outline: none;
}

/* News section */

.news {
  width: 1280px;
  height: 1406px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 24px;
  margin-bottom: 60px;
}
.news > h3 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}
.news > p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.news > div {
  width: 1280px;
  height: 402px;
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  background: rgb(255, 255, 255);
}
.news-box > img {
  width: 408px;
  height: 306px;
  border-radius: 24px;
}
.text-div {
  width: 744px;
  height: 290px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 12;
}
.text-div h2 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-align: left;
}
.text-div > img {
  width: 134px;
  height: 40px;
}
.text-div p,
span {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.text-div button {
  width: 139px;
  height: 48px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding: 13px 26px;
  border: none;
  text-align: center;
  border-radius: 8px;
  background: rgb(0, 106, 80);
}
.donate {
  width: 1280px;
  height: 464px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 32;
  padding: 0px;
  margin-bottom: 80px;
}
.donate > h2 {
  color: rgb(14, 14, 14);

  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-bottom: 24px;
}
.donate > p {
  color: rgba(14, 14, 14, 0.7);
  width: 1104px;
  height: 48px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 32px;
}
.donate .money-box {
  width: 1071px;
  height: 128px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}
.donate .money-boxes {
  width: 240px;
  height: 128px;
  padding: 40px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  color: rgba(14, 14, 14, 0.8);
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  transition: all 0.3s ease-in;
}
.money-boxes:nth-child(2){
  background-color:#006d50;
  color: whitesmoke;
}
.money-boxes:hover{
  background-color:#006d50;
  color: whitesmoke;
}

.donate input[type="text"] {
  width: 1032px;
  height: 64px;
  padding: 20px 40px;
  background: rgb(255, 255, 255);
  margin: 32px 0px;
  outline: none;
  border: none;
  box-shadow: 2px 1ppx rgba(14, 14, 14, 0.15);
  font-size: 1.5rem;
}

.donate input[type="text"]::placeholder {
  color: rgba(14, 14, 14, 0.3);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.donate button {
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  padding: 17px 34px;
}

/* subscribe section */

.subscribe {
  width: 1280px;
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  border-radius: 24px;
  gap: 64;
  padding: 80px 100px 80px 100px;
  background: rgb(198, 228, 214);
}
.subscribe h2 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-bottom: 16px;
}
.subscribe > p {
  width: 622px;
  height: 48px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
}

.subscribe > form {
  width: 750px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe input[type="email"] {
  width: 600px;
  height: 55px;
  padding: 18px 40px;
  border-radius: 8px 0px 0px 8px;
  background: rgb(255, 255, 255);
  border: none;
  outline: none;
  font-size: 1.5rem;
}
.subscribe input[type="email"]::placeholder {
  color: rgba(14, 14, 14, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
.subscribe button {
  width: 150px;
  height: 55px;
  padding: 17px 34px;
  border-radius: 0px 8px 8px 0px;
  background: rgb(0, 106, 80);
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}

.subscribe .spam {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  margin-top: 24px;
}

/* Footer part */

footer {
  width: 1600px;
  height: 226px;
  background: rgb(255, 255, 255);
  padding: 50px 160px;
  margin-top: 80px;
}

footer h2 {
  width: 222px;
  height: 38px;
  color: rgb(14, 14, 14);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 31.5px;
}
footer hr {
  border: 1px solid rgba(14, 14, 14, 0.1);
}
.logo-box {
  width: 120px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 31.5px;
}
