@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fira Sans;
}
html body {
  width: 100vw;
  height: 100vh;
  background: rgb(245, 245, 245);
}
/* common class */

.hover:hover {
  background-color: #006d50;
  color: white;
}
/* Header section */
header nav {
  padding: 24px 160px;
  width: 1600px;
  height: 100px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}
.logo {
  color: rgb(14, 14, 14);

  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
.signIn-btn {
  padding: 15px 30px;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

/* Hero Section */

.hero-section {
  width: 1280px;
  height: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  gap: 64;
  padding: 80px 100px;
  margin: 0 auto;
  background: rgb(198, 228, 214);
}
.text-side {
  width: 622px;
  height: 326px;
}
.text-side p {
  color: rgba(14, 14, 14, 0.5);

  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
}
.text-side h1 {
  color: rgb(14, 14, 14);

  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 24px;
}
.text-side button {
  width: 270px;
  height: 56px;
  border-radius: 8px;
  border: none;
  color: rgb(255, 255, 255);

  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;

  background: rgb(0, 106, 80);
}
.hero-section img {
  width: 474px;
  height: 400px;
}

/* Pillars section */
.pillers {
  width: 1280px;
  height: 375px;
  margin: 0 auto;
}
.pillers h2 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin: 80px 0px;
}
.boxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.box {
  width: 302px;
  height: 244px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  gap: 12;
  padding: 24px 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.box h3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.box p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* vision */
.vision {
  width: 1280px;
  height: 765px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 24;
  margin-top: 80px;
  margin-bottom: 80px;
}
.vision h3 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.vision > p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.vision h4 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.vision-boxes {
  width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.vision-box {
  width: 410px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  gap: 24;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 16px;

  background: rgba(84, 144, 245, 0.2);
}
.vision-box > p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.vision-box > button {
  width: 122px;
  height: 41px;
  border-radius: 8px;
  padding: 6px 10px;
  background: rgb(9, 161, 92);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  border: none;
}

/* qoute */

.quote {
  width: 1280px;
  height: 240px;
  padding: 48px 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  position: relative;
}
.quotaion {
  position: absolute;
  top: 30px;
  left: 24px;
}
.quote > p {
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.quote h3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 24px;
}

.quote .position {
  color: rgba(14, 14, 14, 0.6);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

/* Opinion section */

.opinion {
  width: 1280px;
  height: 481px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.opinion>h3{
  color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
line-height: 48px;
margin-bottom: 24px;
}
.opinion > div {
  width: 100%;
  height: 409px;
  border-radius: 16px;
  padding: 32px;
  background-color: rgb(255, 255, 255);
}

.opinion table {
  width: 100%;
  height: 100%;
}

.table-style {
  border-collapse: collapse;
}
.table-style thead tr {
  width: 100%;
  background-color: rgb(198, 228, 214);
  color: #000000;
}

.table-style tbody td,
th {
  padding: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgba(255, 255, 255, 0.1);
}
.table-style thead tr {
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.table-style thead th {
  border: none;
}
.table-style tbody tr td {
  color: rgb(14, 14, 14);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.select {
  width: 152px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(14, 14, 14);
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  background: rgb(198, 228, 214);
  padding: 10px 12px;
  outline: none;
}

/* News section */

.news{
  width: 1280px;
  height: 1406px;
}
.news div{
  width: 1280px;
  height: 402px;
}